:root {
	--color: #;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	text-decoration: none;
}

html{
	font-size: 62.5%;
  }

.container {
	width: 100%;
	height: 100vh;
	background-color: #2b323c;
	color: #fff;
	display: flex;
	align-items: center;
	justify-content: center;
}
.container h1 {
	font-size: 2rem;
	font-weight: 600;
}
.container span {
	/* color: bisque; */
	color: #fff724;
}

@media screen and (min-width: 768px) {
	.container h1 {
		font-size: 5rem;
	}
}

@media screen and (min-width: 1024px) {
	.container h1 {
		font-size: 8rem;
	}
}